/* banner-box */

$box-width: 300px;
$box-height: 250px;

/* scrollbars */
$scrollbar-height: 84px;
$scrollbar-top: -32px;

/* containers position and sizes */
@mixin container1 {
	top: 0;
	left: 0;
	width: 100%;
	height: 155px;
}

@mixin container2 {
	top: 155px;
	left: 0;
	width: 100%;
	height: 95px;
	border-top: 4px solid #ffb718;
}


/* photo */
$photo-origin: 53% 14%;
$photo-scale: 1.7;

/* text1 */
$text1-top: 18px;
$text1-left: 10px;



@mixin logo1-2 {
	top: $logo-top;
	height: 95px;
}