html,
body {margin: 0;}
img{border: 0;vertical-align: top;}
.nano {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 500;
}
/* scrollbars */
.jcf-scrollable-wrapper {
	box-sizing: content-box;
	position: relative;
}
.jcf-scrollbar-vertical {
	position: absolute;
	cursor: default;
	width: 5px;
	bottom: 0;
	right: 0;
	top: 0;
	height: $scrollbar-height !important;
}
.jcf-scrollbar-slider{
	width: 5px;
	background: #e0e0e0;
	border-radius: 5px;
	height: $scrollbar-height !important;
}
.jcf-scrollbar-vertical .jcf-scrollbar-dec,
.jcf-scrollbar-vertical .jcf-scrollbar-inc {display: none;}
.jcf-scrollbar-vertical .jcf-scrollbar-handle {
	background: #c2c2c2;
	height: 15px !important;
	width: 5px;
	border-radius: 5px;
}
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-handle {visibility: hidden;}
.banner-box,
.box-content {
	width: $box-width;
	height: $box-height;
	overflow: hidden;
	position: relative;
	background: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.box-content{
	width: $box-width - 2;
	height: $box-height - 2;
	border: 1px solid #636363;
}
.top{
	position: absolute;
	right: 0;
	top: 0;
	-webkit-animation: top 3s;
	animation: top 3s;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}
.top1{
	left: 0;
}
.text1{
	position: absolute;
	left: $text1-left;
	top: $text1-top;
}
.text2{
	position: absolute;
	left: $text2-left;
	top: $text2-top;
	opacity: 1;
	-webkit-animation: text2 3s;
	animation: text2 3s;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}
.btn1,
.btn2,
.btn3{
	position: absolute;
	top: $btn-top;
	left: $btn-left;
	cursor: pointer;
	opacity: 1;
	-webkit-animation-duration: 5.8s;
	animation-duration: 5.8s;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}
.btn1{
	-webkit-animation-name: btn1;
	animation-name: btn1;
}
.btn2{
	@include btn2;
	-webkit-animation-name: btn2;
	animation-name: btn2;
}
.btn3{
	@include btn3;
	-webkit-animation-name: btn3;
	animation-name: btn3;
}
.logo{
	position: absolute;
	left: $logo-left;
	top: $logo-top;
	transform: scale($logo-scale);
	z-index: 10;
	opacity: 0;
	-webkit-animation: logo1 3s;
	animation: logo1 3s;
	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;
	cursor: pointer;
}
.small-logo{
	position: absolute;
	left: $small-logo-left;
	top: $small-logo-top;
	opacity: 1;
	pointer-events: none;
	-webkit-animation: logo2 3s;
	animation: logo2 3s;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

.scroll-holder {
	padding: 0 5px 0 6px;
	height: $scrollbar-height;
	color: #000;
	opacity: 1;
	position: relative;
	z-index: 4;
	margin: $scroll-margin-top 0 0;
}
.content {
	position: relative;
	z-index: 10;
	height: $content-height;
}
.content img{
	-webkit-transform: translate3d(0, 0, 0);
	position: relative;
	display: block;
	z-index: -1;
}
.content .logos {
	position: absolute;
	bottom: $content-logos-bottom;
	left: 0;
	z-index: 5;
}
.content .logos span{
	float: left;
	margin: $content-logos-mt 0 0;
}
.content .logos span:first-child{margin: $content-logos-fc-margin;}
.content .logos span{cursor: pointer;}
.base-holder{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.jcf-scrollable{height: $layer-height;}
.layer{
	position: absolute;
	left: 0;
	right: 10px;
	height: $layer-height;
	bottom: 4px;
	z-index: 2000;
}
.inside-link{
	position: absolute;
	z-index: 50;
	cursor: pointer;
}
#link-to-PI{
	@include link-to-PI;
}
#link-to-fda{
	@include link-to-fda;
}
#full-pi-link{
	@include full-pi-link;
}
/* animation */

/* logo */
@-webkit-keyframes logo1 {
	00.00% {transform: scale(1); @include logo1-1; opacity: 1;} /* 0 */
	33.33% {transform: scale(1); top: 36px;} /* 4 */
	99.99%{ opacity: 1;}
	100% {transform: scale($logo-scale); @include logo1-2; opacity: 0;} /* 3 */
}
@keyframes logo1 {
	00.00% {transform: scale(1); top: 36px; opacity: 1;} /* 0 */
	33.33% {transform: scale(1); top: 36px;} /* 1 */
	99.99%{ opacity: 1;}
	100% {transform: scale($logo-scale); top: -13px; opacity: 0;} /* 3 */
}

/* logo small */
@-webkit-keyframes logo2 {
	00.00% {opacity: 0;} /* 0 */
	99.99%{opacity: 0;}
	100% {opacity: 1;} /* 3 */
}
@keyframes logo2 {
	00.00% {opacity: 0;} /* 0 */
	99.99%{opacity: 0;}
	100% {opacity: 1;} /* 3 */
}

/* leaves on top */
@-webkit-keyframes top {
	00.00% {top: -104px;} /* 0 */
	33.33% {top: -104px;} /* 1 */
	100.00% {top: 0;} /* 3 */
}
@keyframes top {
	00.00% {top: -104px;} /* 0 */
	33.33% {top: -104px;} /* 1 */
	100.00% {top: 0;} /* 3 */
}

/* text2 */
@-webkit-keyframes text2 {
	00.00% {opacity: 0; top: 150px;} /* 0 */
	33.33% {opacity: 0; top: 150px;} /* 1 */
	100% {opacity: 1; top: 70px;} /* 3 */
}
@keyframes text2 {
	00.00% {opacity: 0; top: 150px;} /* 0 */
	33.33% {opacity: 0; top: 150px;} /* 1 */
	100% {opacity: 1; top: 70px;} /* 3 */
}
/* btn1 */
@-webkit-keyframes btn1 {
	00.00% {opacity: 0; height: 0;} /* 0 */
	68.96% {opacity: 0; height: 0;}
	68.97% {opacity: 0; height: auto;} /* 4 */
	86.21% {opacity: 1;} /* 5 */
	100.0% {opacity: 1;} /* 5.8 */
}
@keyframes btn1 {
	00.00% {opacity: 0; height: 0;} /* 0 */
	68.96% {opacity: 0; height: 0;}
	68.97% {opacity: 0; height: auto;} /* 4 */
	86.21% {opacity: 1;} /* 5 */
	100.0% {opacity: 1;} /* 5.8 */
}
/* btn2 */
@-webkit-keyframes btn2 {
	00.00% {opacity: 0; height: 0;} /* 0 */
	75.85% {opacity: 0; height: 0;}
	75.86% {opacity: 0; height: auto;} /* 4.4 */
	93.10% {opacity: 1;} /* 5.4 */
	100.0% {opacity: 1;} /* 5.8 */
}
@keyframes btn2 {
	00.00% {opacity: 0; height: 0;} /* 0 */
	75.85% {opacity: 0; height: 0;}
	75.86% {opacity: 0; height: auto;} /* 4.4 */
	93.10% {opacity: 1;} /* 5.4 */
	100.0% {opacity: 1;} /* 5.8 */
}
/* btn3 */
@-webkit-keyframes btn3 {
	00.00% {opacity: 0; height: 0;} /* 0 */
	82.75% {opacity: 0; height: 0;}
	82.76% {opacity: 0; height: auto;} /* 4.8 */
	100.0% {opacity: 1;} /* 5.8 */
}
@keyframes btn3 {
	00.00% {opacity: 0; height: 0;} /* 0 */
	82.75% {opacity: 0; height: 0;}
	82.76% {opacity: 0; height: auto;} /* 4.8 */
	100.0% {opacity: 1;} /* 5.8 */
}