/* timing variables */
$period1: 1s;
$transition1: 2s;
$period2: 1s;
$transition2: 2s;
$period3: 1s;
$transition3: 2s;


*{
	box-sizing: border-box;
}

html,
body {margin: 0;;}
img{border: 0;vertical-align: top;}

//scroll
.jcf-scrollbar-vertical,
.jcf-scrollbar-slide{
	height: $scrollbar-height !important;
}

.banner-box,
.box-content {
	width: $box-width;
	height: $box-height;
	overflow: hidden;
	position: relative;
	background: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.box-content{
	border: 1px solid #636363;
}
.container1, .container2{
	position: absolute;
	overflow: hidden;
}
.container1{
	@include container1;
}
.container2{
	@include container2;
}

.photo{
	animation: photo $transition1 $period1 ease-in-out both;
	transform-origin: $photo-origin;

}

@keyframes photo{
	0%{
		transform: scale(1);
	}
	100%{
		transform: scale($photo-scale);
	}
}

.text1{
	position: absolute;
	top: $text1-top;
	left: $text1-left;
	animation: text1 $transition1 $period1 ease-in-out both;
}

@keyframes text1{
	0%{
		top: $text1-top;
		opacity: 1;
	}
	100%{
		top: -30px;
		opacity: 0;
	}
}

