/* timing variables */
$period1: 1s;
$transition1: 2s;
$period2: 1s;
$transition2: 2s;
$period3: 1s;
$transition3: 2s;


*{
	box-sizing: border-box;
}

html,
body {margin: 0;;}
img{border: 0;vertical-align: top;}

//scroll
.slimScrollBar{
	height: 10px !important;
	width: 4px !important;
	opacity: .3 !important;
}

.slimScrollRail{
	width: 4px !important;
}

.banner-box,
.box-content {
	width: $box-width;
	height: $box-height;
	overflow: hidden;
	position: relative;
	background: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.box-content{
	border: 1px solid #636363;
}
.container1, .container2{
	position: absolute;
	overflow: hidden;
}
.container1{
	@include container1;
}
.container2{
	@include container2;
}

.photo1{
	animation: photo1 4s 1s linear both;
	transform-origin: $photo1-origin;
}

@keyframes photo1{
	0%{
		transform: scale(1);
	}
	75%{
		transform: scale($photo1-scale);
	}
	100%{
		transform: scale($photo1-scale);
	}
}

.photo1-wrapper{
	animation: photo1 4s 1s linear both;
	overflow: hidden;
	width: 300px;
	height: 155px;
	animation: photo1-wrapper 1s 5s linear both;
}

@keyframes photo1-wrapper{
	0% { transform: translateX(0);}
	100% { transform: translateX(-300px);}
}

.photo2{
	position: absolute;
	left: 0;
	top: 0;
}

.text1{
	position: absolute;
	top: $text1-top;
	left: $text1-left;
	animation: text1 2s 2s ease-in-out both;
}

@keyframes text1{
	0%{
		opacity: 1;
	}
	75%{
		opacity: 0;
	}
	100%{
		transform: translateY(-100px);
		opacity: 0;
	}
}

.text2{
	position: absolute;
	bottom: $text2-bottom;
	left: $text1-left;
	animation: text2 4s 2s ease-in-out both;
}

@keyframes text2{
	0% { transform: translateY(100px); opacity: 0;}
	12.5% { opacity: 0; }
	50% { transform: translateY(0); opacity: 1; }
	75% { opacity: 1; }
	100% { opacity: 0; } 
}

.wrap{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	animation: wrap 1s 5s linear both;
}

@keyframes wrap{
	0% { transform: translateX(300px);}
	100% { transform: translateX(0);}
}

.wrap div{
	width: 180px;
	height: 155px;
	transform: skewX(-9deg);
	background: #fff;
	position: absolute;
	top: 0;
	right: -15px;
}

.logo{
	position: absolute;
	top: 7px;
	right: 16px;
	animation: logo 1s 6s ease-in-out both;
}

@keyframes logo{
	0% { transform: translateY(100px); opacity: 0; }
	100% { transform: translateX(0); opacity: 1; }
}

.logo-text1{
	position: absolute;
	top: 81px;
	right: 9px;
	animation: logo-text1 3s 7s ease-in-out both;
	opacity: 0;
}

@keyframes logo-text1{
	0% { opacity: 0; }
	33.33% { opacity: 1; }
	66.66% { opacity: 1; }
	100% {opacity: 0; }
}

.logo-text2{
	position: absolute;
	top: 78px;
	right: 9px;
	animation: logo-text2 3s 10s ease-in-out both;
}

@keyframes logo-text2{
	0% { transform: translateY(70px); opacity: 0; }
	33.33% { transform: translateY(0); opacity: 1; }
	66.66% { opacity: 1; }
	100% { opacity: 0; }
}

.logo-text3{
	position: absolute;
	top: 68px;
	right: 19px;
	animation: logo-text3 1s 13s ease-in-out both;
}

@keyframes logo-text3{
	0% { transform: translateY(70px); opacity: 0; }
	100% { transform: translateY(0); opacity: 1; }
}

.button{
	position: absolute;
	top: 118px;
	right: 16px;
	animation: button 1s 14s ease-in-out both;
}

@keyframes button{
	0% { transform: translateY(35px); opacity: 0; }
	100% { transform: translateY(0); opacity: 1; }
}

.text-fixed{
	position: absolute;
	top: 5px;
	left: -1px;
}

.slimScrollDiv{
	top: 37px;
	left: -2px;
}

.scroll-wrapper{
	animation: scroll-wrapper 1s 6s ease-in-out both;
}

@keyframes scroll-wrapper{
	0% { transform: translateY(80px); opacity: 0; }
	100% { transform: translateY(0); opacity: 1; }
}